.container {
  border-radius: 12px;
  font-size: 16px;
  border: 2px solid #DCDBDD;
  transition: border-color 0.3s ease-in-out;
  overflow: hidden;
  &:focus {
    border-color: #6200ea;
  }

  .msg {
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #DCDBDD;
    font-size: 12px;
    height: 12vh;
    margin: 4px;
    line-height: 2;
    overflow-y: auto;

    ::ng-deep .highlight {
      background-color: #6200ea;
      border-radius: 12px;
      color: white;
      padding: 4px;
    }
  }

  .placeholders {
    display: flex;
    .highlight {
      border-radius: 12px;
      color: #DCDBDD;
      padding: 4px;
      margin: 4px;
      text-align: center;
      font-size: 12px;
      border: 1px solid #DCDBDD;
      cursor: pointer;
    }
  }
}