<div class="form-container">
  <h1 class="title">Test Page</h1>
  <form [formGroup]="form" class="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" class="capsule" formControlName="name">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="tel" id="phone" name="phone" class="capsule" formControlName="phone">
    </div>
    <div class="form-group">
      <label for="opening-sentence">Opening Sentence</label>
      <app-opening-sentence
        name="opening-sentence"
        formControlName="openingSentence"
        [initialVal]="openingSentence"
      ></app-opening-sentence>
    </div>
    <button type="submit" class="submit-btn capsule">Submit</button>
  </form>
</div>
